.container {
  max-width: 900px;
  margin-top: 70px;
  border: 1px solid salmon;
  padding: 70px 70px;
  border-radius: 4px;
}

.first {
  margin-top: 30px;
}

.today-date {
  font-size: 10px;
}

.today-time {
  font-size: 20px;
}

.today-forecast {
  font-size: 15px;
}

.current-location {
  display: block;
  position: absolute;
  top: 15.1%;
  right: 40%;
  padding: 7px 20px;
  border-radius: 4px;
  border: 1px solid salmon;
  background: white;
  font-size: 10px;
}

.current-location:hover {
  cursor: pointer;
  background: lightseagreen;
  color: white;
  border: 1px solid lightseagreen;
}

.city-form {
  display: block;
  position: absolute;
  top: 15%;
  right: 21%;
}

input[type="text"] {
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid salmon;
  color: salmon;
}

input[placeholder="Enter a city"] {
  color: lightseagreen;
}

input[type="submit"] {
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid salmon;
  background: white;
  color: salmon;
}

input[type="submit"]:hover {
  background: lightseagreen;
  color: white;
  border: 1px solid lightseagreen;
}

.today-forecast {
  text-transform: capitalize;
}

.today-emoji {
  font-size: 100px;
  margin-top: 10px;
}

.city {
  font-size: 60px;
}

.city-temperature {
  font-size: 60px;
}

.units {
  font-size: 12px;
  position: absolute;
  right: -30%;
  top: 25%;
}

.first10 {
  left: 40px;
}

.second10 {
  left: 50px;
  top: 20px;
  font-size: 12px;
}

.feels-like {
}

.chance-of-rain {
}

.sunrise {
}

.precipitation {
}

.sunset {
}

.day-one {
  position: relative;
  left: 60%;
}
.temperature-one {
  position: relative;
  left: 66%;
}

.emoji-one {
  position: relative;
  left: 65%;
}

.day-two {
  position: relative;
  left: 50%;
}

.temperature-two {
  position: relative;
  left: 60%;
}

.emoji-two {
  position: relative;
  left: 60%;
}

.day-three {
  position: relative;
  right: -50%;
}

.temperature-three {
  position: relative;
  left: 60%;
}

.emoji-three {
  position: relative;
  left: 60%;
}

.day-four {
  position: relative;
  right: -40%;
}

.temperature-four {
  position: relative;
  left: 50%;
}

.emoji-four {
  position: relative;
  left: 50%;
}

.day-five {
  position: relative;
  right: -17%;
}

.temperature-five {
  position: relative;
  left: 25%;
}

.emoji-five {
  position: relative;
  left: 25%;
}

.day-six {
  position: relative;
  left: -5%;
}

.temperature-six {
  position: relative;
  left: 8%;
}

.emoji-six {
  position: relative;
  left: 8%;
}

.footer {
  padding-left: 235px;
  padding-top: 10px;
  font-size: 12px;
}
